[submodule "MC02/Phoenix_Lib"]
	path = MC02/Phoenix_Lib
	url = git@github.com:HDU-PHOENIX/phoenix_embedded_base_code.git
	branch = main
[submodule "src/communicate_2025"]
	path = src/communicate_2025
	url = git@github.com:Fluorine-fish/USB_communicate_for_gazebo.git
